extends layout

block content
	div.book-list-heading
		h1(style={'margin-right': '10px'})= title
		a(href="/book/create")
			button.createNewBtn Create new book

	div.books-container
		each book in bookList
			div.books
				a.book-link(href=book.url)
					img.booklist-img(src=book.imageUrl)
					p #{book.title} - #{book.author}
	

