extends layout

block content
	div.book-details
		img(src=bookDetails.imageUrl)
		div.book-details-info
			h1= bookDetails.title
			h2 Author: #{bookDetails.author}
			h3 Price: Nrs. #{bookDetails.price}
			h3 In Stock: #{bookDetails.noInStock}
			a(href=bookDetails.genre[0].url) Genre: #{bookDetails.genre[0].name}
			a(href=bookDetails.url+'/update')
				button.updateBookBtn(type='button') Update Book
			a(href=bookDetails.url+'/delete')
				button.deleteBtn(type='button') Delete book
