extends layout

block content
	h1(style={'text-align': 'center'})= title

	div.books-container
		each book in bookList
			div.books
				a.book-link(href=book.url)
					img.booklist-img(src=book.imageUrl)
					p #{book.title} - #{book.author}
	a(href="/book/create") Create new book

