extends layout

block content
	h1(style={'text-align': 'center' ,'margin' : '10px 0'}) #{title}
	form.bookform(method='POST' action='')
		label(for='title') Title:
		input(type='text', placeholder='Name of book' name='title' required='true' id
		='title' value=(book===undefined ? '' : book.title) )
		label(for='author') Author:
		input(type='select', placeholder='Select author' name='author' required='true' id='author' value=(book===undefined ? '' : book.author) )
		label(for='price') Price:
		input(type='number', min="1" step="0.01" placeholder='price' name='price' required='true' id='price' value=(book===undefined ? '' : book.price))
		label(for='noInStock') noInStock:
		input(type='number' min="1" step="1" placeholder='noInStock' name='noInStock' id='noInStock' required='true' value=(book===undefined ? '' : book.noInStock))
		label(for='genre') Genre:
		select(type='select',id='genre' placeholder='Select genre' name='genre' required='true' )
			for genre in genreList
				if book
					option(value=genre._id selected=(genre._id.toString()===book.genre[0]._id || genre._id.toString()==book.genre[0]._id ) ? 'selected' : false) #{genre.name}
				else
					option(value=genre._id) #{genre.name}
		label(for='imageUrl') ImageUrl:
		input(type='url', placeholder='Image url' name='imageUrl' required='true' id
		='imageUrl' value=(book===undefined ? '' : book.imageUrl) )
		button.saveBtn(type='submit') Submit
		if(book)
			a(href=book.url)
				button.goBackBtn(type='button') Cancel

  
	if errors
		ul
			for error in errors
				li!= error.msg
